
/* ------- support container --------- */

.support-container{
    width: 100vw;
    min-height: calc(100vh - 14.3rem);
    background-color: #120909;
}
.support-wrapper{
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    padding-block: 4rem 4rem;
}
.left-section-contact{
    grid-column: 1/2;
    height: 100%;
    margin-top: 2rem;
}
.lsc-heading{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.lsc-para{
    width: 25rem;
    line-height: 22px;
    font-size: 15px;
    letter-spacing: 0.9px;
}
.cont-grid{
    margin-top: 5rem;
    display: grid;
    column-gap: 5rem;
    grid-template-columns: 1fr 1fr;
}
.cg-heading{
    font-size: 16px;
    color: goldenrod;
}
.cg-para{
    margin-block: 1rem 3rem;
    font-size: 14px;
    line-height: 20px;
    width: 13rem;
}

.supp-form{
    grid-column: 2/3;
    grid-row: 1/3;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 15px;
}
.form-wrapper label{
    margin-block: 18px 12px;
}
.form-wrapper input , .form-wrapper select{
    border: 2px solid rgba(0,0,0, 0.6);
    border-radius:6px;
    padding:10px 1rem;
    width: 100%;
}
.sub-btn{
    margin-top: 5rem;
    background-color: goldenrod;
    border: none;
    color: white;
    width: fit-content;
    padding: 14px 2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1.5rem;
}


@media(max-width : 1200px){
    .support-wrapper{
        width: 90%;
    }
    .form-wrapper{
        margin: 2rem 2rem;
    }
    .cont-grid{
        column-gap:2rem;
    }
}

@media(max-width : 900px){
    .form-wrapper{
        margin: 2rem 10px;
    }
    .lsc-para{
        width: 20rem;
    }
    .cg-para{
        width: 11rem;
    }
}

@media(max-width : 760px){

    .support-wrapper{
        width: 80%;
    }
    .lsc-para{
        width: 80%;
    }
    .cg-para{
        width: 80%;
    }

    .left-section-contact{
        grid-column: 1/3;
    }
    .supp-form{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .cont-grid{
        grid-column: 1/3;
    }
    .form-wrapper{
        margin:3rem 0 0;
    }

}
@media(max-width : 600px){
    .support-wrapper{
        width: 90%;
    }
    .lsc-para{
        width: 100%;
    }
    .cg-para{
        width: 100%;
    }
}

@media(max-width : 460px){
    .lsc-heading{
        font-size: 2.2rem;
    }
    .lsc-para{
        font-size: 14px;
    }
    .form-wrapper{
        margin:1.5rem 0 0;
        padding: 1rem 1rem;
    }
    .left-section-contact{
        margin-top: 0;
    }

}
@media(max-width : 300px){
    .cont-grid{
        column-gap: 1rem;
    }
    .cg-heading{
        font-size: 14px;
    }
    .cg-para{
        font-size: 12px;
    }
}



/* testing */

.report-nav-btn{
    margin-left: auto;
    background-color: rgb(193, 35, 35);
    padding: 10px 2rem;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}