.about-container {
  width: 100vw;
  margin: 0 auto;
  background-color: black;
}
/* ---------------------------- */

p{
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Darker Grotesque', sans-serif;
}
.abt-main {
  width: 100%;
  /* padding: 30rem auto 0; */
  padding-bottom: 10rem;
  display: flex;
  padding-top: 5rem;

  background-color: #1a1717;
}
.abt-main-desc {
  width: 60%;
  /* padding-top: 2rem; */
}
.abt-desc-childone {
  padding-top: 2rem;
  padding-left: 10%;
  background-color: black;
}
.abt-title {
  margin-bottom: 1rem;
  color: goldenrod;
  font-size: 17px;
}
.abt-heading {
  margin-bottom: 40px;
}
.abt-para {
  width: 85%;
  font-size: 15px;
  letter-spacing: 0.9px;
  line-height: 23px;
  padding-bottom: 4rem;
  opacity: 0.8;
}
.abt-highlight {
  background-color: white;
  color: black;
  height: 6rem;
  text-align: center;
  padding-top: 30px;
  font-size: 24px;
}
.abt-desc-childtwo {
  padding-left: 10%;
  padding-top: 5rem;
}
.abt-img {
  width: 50%;
  max-height: 50rem;
}
.abt-img img {
  width: 100%;
  height: 100%;

}


.abt-main-second {
  flex-direction: row-reverse;
  margin: 0;
}


@media(max-width : 1024px){
  .abt-img{
    max-height: 100%;
  }
}
@media(max-width : 760px){
  .abt-main{
    padding-bottom: 2rem;
    flex-direction: column-reverse;
  }
  .abt-main-desc{
    width: 100%;
  }
  .abt-img{
    background-color: black;
    width: 100%;
    padding: 0 4rem;
    padding-top: 5rem;
  }
  .abt-second-img{
    padding-top: 2rem;
  }
  .abt-img img{
    border-radius: 10px;
  }
}
@media(max-width : 560px){
  .abt-img{
    padding: 24px 2rem 0 ;
  }
  .abt-desc-childone,.abt-desc-childtwo{
    padding-inline: 2rem;
  }
  .abt-para{
    width: 100%;
  }
  .abt-second-img{
    padding-top: 2rem !important;
  }
}
@media(max-width:300px){
  .abt-desc-childone,.abt-desc-childtwo{
    padding-inline: 1rem;
  }
  .abt-img{
    padding: 0 1rem;
  }
}

/* ----- how its works ------- */

.how-its-works {
  padding: 6rem 6rem;
}
.hiw-heading {
  font-size: 44px;
}
.hiw-desc {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  padding-top: 24px;
  border-top: 1px solid goldenrod;
}
.hiw-desc-child{
  position: relative;
  width: 25%;
}
.hiw-desc-heading {
  font-size: 16px;
}
.hiw-desc-para {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.9px;
  margin-top: 1.2rem;
  opacity: 0.8;
}
.hiw-desc-dot {
  width: 10px;
  height: 10px;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
  top: -30px;
}

/* <!-- security privacy support --> */

.sps-section {
  background-color: #0e0705;
  padding: 4rem 5rem;
}
.sps-main {
  display: flex;
  width: 100%;
  gap: 3rem;
  margin-block: 4rem 3rem;
}

.yellow-dot {
  background-color: goldenrod;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}

.border {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-inline: 2rem;
}
.lower-section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.lower-section-heading > span {
  font-size: 1.5rem;
}
.lower-section-text > p {
  text-align: left;
  font-size: 1rem;
  word-spacing: 2px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 20px;
}

.image-text-left > p {
  text-align: left;
  color: white;
}

@media (max-width: 960px) {
  .how-its-works{
    padding: 2rem;
  }
  .sps-section{
    padding: 4rem 2rem;
  }
}

@media (max-width : 800px){
  .hiw-desc{
    gap: 1rem;
  }
  .sps-main{
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  .hiw-desc{
    flex-direction: column;
    border-top: none;
    border-left: 2px solid goldenrod;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  .hiw-desc-child{
    padding-left: 40px;
    width: 100%;
    
  }
  .hiw-desc-dot{
    top: 0px;
    left: -6px;
  }
  .sps-main {
    flex-direction: column;
    padding-inline: 0rem;
    gap: 2rem;
  }
  .border{
    border: none;
    padding:0 ;
  }
}

@media(max-width:400px){
  .abt-heading{
    font-size: 24px;
  }
  .hiw-desc-child{
    padding-left: 25px;
  }
}

@media(max-width : 300px){
  .abt-heading{
    font-size: 22px;
  }
  .how-its-works{
    padding:2rem 1rem;
  }
  .sps-section{
    padding: 3rem 1rem;
  }

}