
.about-container {
  width: 100vw;
  margin: 0 auto;
  background-color: black;
}
/* ---------------------------- */

.about-hero-wrapper{
  width: 90%;
  padding:6rem 0;
  margin: 0 auto;
  display: flex;
}
.ahw-desc{
  width: 50%;
}



.about-img{
  width: 50%;
}
.abt-img{

}




/* --------------------------- */

.lower {
  background-color: #0e0705;
  padding: 4rem 5rem;
}
.lower-1 {
  display: flex;
  width: 100%;
}
.lower-section-part {
    padding: 10px 30px;
  }
.yellow-dot {
  background-color: goldenrod;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
}

.border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.lower-section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.lower-section-heading > span {
  font-size: 1.5rem;
}
.lower-section-text > p {
  text-align: left;
  font-size: 1rem;
  word-spacing: 2px;
  font-size: 14px;
  opacity: 0.7;
  line-height: 20px;
}


.image-text-left > p {
  text-align: left;
  color: white;
}




@media(max-width:940px){

    .lower{
        padding-inline: 0;
    }

}

@media(max-width:650px){
    .lower-1{
        flex-direction: column;
        padding-inline:1.5rem;
        gap: 2rem;
    }
}


